[Unit]
Description=Example BEAM application

[Service]
Environment=HOME=/run/example
Environment=ERL_CRASH_DUMP_SECONDS=0
WorkingDirectory=/run/example
RuntimeDirectory=example
RuntimeDirectoryPreserve=yes
User=www-data
Group=www-data
Type=notify
ExecStart=/opt/example/bin/plug_systemd_example start
WatchdogSec=10s
NotifyAccess=main
Restart=never

# Security options

ProtectSystem=full
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=yes
