[Unit]
Description=Listening socket
Requires=sockets.target

[Socket]
ListenStream=80
BindIPv6Only=both
MaxConnections=16384
ReusePort=true
NoDelay=true
